body {
  background-color: rgba(0, 11, 63, 0.1);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

picture {
  border-radius: 10px;
}
picture img {
  width: 100%;
}

img {
  width: 100%;
  border-radius: 10px;
}

.invisible__object {
  outline: none;
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

section {
  padding: clamp(3.25rem, 2.725rem + 2.63vw, 5.875rem) 0;
}

.font__color {
  color: #F34B00;
}

.font__dark {
  color: #303749;
}

.font__light {
  color: rgba(255, 255, 255, 0.75);
}

.header {
  color: #666666;
}

.hero {
  padding: 90px 0;
  background: #ccc url(../img/hero/200nkoBG-min.jpg) center no-repeat;
  background-size: cover;
}
.hero__title {
  margin: clamp(7.875rem, 6.575rem + 6.5vw, 14.375rem) auto;
  max-width: 520px;
  font-size: clamp(1.75rem, 1.5rem + 1.25vw, 3rem);
  color: #FFFFFF;
}
.hero__more-btn {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 40px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.15);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.hero__more-btn picture {
  margin-right: 11px;
}

.appeal picture img {
  max-width: 519px;
}
.appeal__body {
  padding: clamp(1.5rem, 0.65rem + 4.25vw, 5.75rem) 0;
}
.appeal__title {
  margin-bottom: 34px;
  font-size: clamp(1.5rem, 1.225rem + 1.38vw, 2.875rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 3.22px;
}
.appeal__text {
  margin-bottom: 20px;
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1.68px;
}
.appeal__autor {
  font-size: 18px;
}

.offer {
  border-top: 1px solid rgba(242, 169, 0, 0.75);
  border-bottom: 1px solid rgba(242, 169, 0, 0.75);
}
.offer__title {
  margin-bottom: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
  font-size: clamp(1.5rem, 1.225rem + 1.38vw, 2.875rem);
}
.offer__text {
  margin-bottom: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
  font-size: clamp(1rem, 0.85rem + 0.75vw, 1.75rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.96px;
}
.offer__contacts a {
  color: #F34B00;
  font-family: Oswald;
  font-size: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 2.24px;
  text-decoration: none;
}
.offer__contacts-phone {
  margin-right: 12px;
}

.steps .container {
  position: relative;
}
.steps__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.steps__card {
  position: relative;
  margin-bottom: clamp(1.5rem, 0.95rem + 2.75vw, 4.25rem);
  min-height: 678px;
  padding: 40px;
  border-radius: 10px;
  background-color: #EEEFF3;
  z-index: 1;
}
.steps__card-title {
  min-height: 100px;
  padding: 50px;
  text-align: center;
  font-size: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 3.36px;
  border: 2px solid #FFFFFF;
}
.steps__img {
  margin-bottom: clamp(1.5rem, 1.375rem + 0.63vw, 2.125rem);
}
.steps__title {
  margin-bottom: 20px;
  font-size: clamp(1.125rem, 1rem + 0.63vw, 1.75rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.96px;
}
.steps__description {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1.4px;
}

#steps__path {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  max-height: 80%;
  z-index: 0;
}

.conference {
  background: #ccc url(../img/conference/conference_bg-min.jpg) center no-repeat;
  background-size: cover;
}
.conference__title {
  margin-bottom: clamp(3rem, 2.75rem + 1.25vw, 4.25rem);
  text-align: center;
  font-family: Oswald;
  font-size: clamp(1.375rem, 1.05rem + 1.63vw, 3rem);
  font-style: normal;
  font-weight: 500;
  line-height: 141.5%;
  letter-spacing: 3.36px;
}
.conference__date {
  display: block;
  margin: 0 auto;
  margin-bottom: 68px;
  max-width: 320px;
}
.conference a {
  text-decoration: none;
}

.space {
  background-color: #fff;
}
.space__title {
  margin-bottom: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
}
.space__card {
  margin-bottom: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
  position: relative;
  height: 245px;
  border-radius: 20px;
  text-align: center;
  padding: 65px 20px 54px;
  background-color: #EEEFF3;
  transform: scaleX(-1);
  transition: all 0.3s ease-in-out;
}
.space__card-active {
  transform: scaleX(1) !important;
}
.space__card-title {
  margin-bottom: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
  color: #F34B00;
  font-family: Oswald;
  font-size: clamp(1.5rem, 1.375rem + 0.63vw, 2.125rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 2.38px;
}
.space__card-title::before, .space__card-title::after {
  content: "";
  position: absolute;
  display: block;
  top: 20px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.space__card-title::before {
  left: 20px;
}
.space__card-title::after {
  right: 20px;
}
.space__card-description {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1.4px;
}
.space__card-reverse {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 176px;
  margin-bottom: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
  border-radius: 20px;
  border: 1px solid #F34B00;
  transform: scaleX(-1);
  transition: all 0.3s ease-in-out;
}
.space__card-reverse .space__card-title {
  margin: 0;
  text-align: center;
  font-size: 24px;
}

.teams {
  background-color: #FFFFFF;
}
.teams__card {
  margin-bottom: 30px;
  border-bottom: 2px solid #EEEFF3;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.teams__title {
  margin-bottom: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
}
.teams__img {
  display: flex;
  margin-bottom: 20px;
}
.teams__img picture {
  display: block;
  width: 100%;
}
.teams__img img {
  height: 435px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  filter: grayscale(1);
  transition: all 0.3s ease-in-out;
}
.teams__name {
  margin-bottom: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.12px;
}
.teams__description {
  height: 30px;
  margin-bottom: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.84px;
}

.howDev {
  position: relative;
  border-top: 1px solid rgba(242, 169, 0, 0.75);
}
.howDev__body {
  position: relative;
}
.howDev__title {
  margin-bottom: clamp(1.5rem, 1.375rem + 0.63vw, 2.125rem);
  font-size: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 3.36px;
}
.howDev__steps {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.howDev__item {
  position: relative;
  margin-bottom: 30px;
  padding: 40px;
  max-width: 408px;
  border-radius: 20px;
  background: #FFFFFF;
  z-index: 1;
}
.howDev__title {
  font-size: clamp(1.125rem, 1rem + 0.63vw, 1.75rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.96px;
}
.howDev__description {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1.4px;
}
.howDev__img img {
  position: absolute;
  top: 0;
  border-radius: 10px;
  height: 100%;
  width: auto;
  max-width: auto;
}

.footer {
  color: #F34B00;
  font-size: 16px;
  color: tomato;
}

@media (hover: hover) {
  .hero__more-btn:hover {
    background-color: rgba(0, 11, 63, 0.1);
  }
  .teams__card:hover {
    border-bottom: 2px solid #F34B00;
  }
  .teams__card:hover .teams__img img {
    filter: grayscale(0);
  }
  * a {
    text-decoration: none;
  }
  * a:hover {
    color: #fff;
  }
}
@media screen and (min-width: 992px) {
  .howDev__steps {
    height: 600px;
  }
  .howDev #howDev__path {
    position: absolute;
    height: 100%;
    width: 90%;
    top: -15%;
    left: 0;
  }
  .howDev #howDev__item1 {
    position: absolute;
    top: 0;
    left: -10%;
  }
  .howDev #howDev__item2 {
    position: absolute;
    bottom: 0;
    left: -10%;
  }
  .howDev #howDev__item3 {
    position: absolute;
    top: 15%;
    right: -40%;
  }
}
@media screen and (max-width: 1199px) {
  .howDev #howDev__item1 {
    top: 10%;
  }
  .howDev #howDev__item3 {
    right: -75%;
    top: 20%;
  }
}
@media screen and (max-width: 991px) {
  .hero__more-btn {
    background-color: rgba(0, 11, 63, 0.1);
  }
  .appeal {
    text-align: center;
  }
  .appeal__autor {
    font-size: 14px;
  }
  .steps__title {
    margin-bottom: 24px;
  }
  .steps #steps__path {
    display: none;
  }
  .howDev__title {
    text-align: center;
  }
  .howDev #howDev__path {
    display: none;
  }
  .howDev #howDev__item1 {
    top: auto;
    left: auto;
    right: auto;
  }
  .howDev #howDev__item2 {
    top: auto;
    left: auto;
    right: auto;
  }
  .howDev #howDev__item3 {
    top: auto;
    left: auto;
    right: auto;
  }
  .teams__card {
    text-align: center;
  }
  .teams__card img {
    filter: grayscale(0);
  }
}
@media screen and (max-width: 767px) {
  section {
    padding: 48px 0;
  }
  .conference {
    background: #ccc url(../img/conference/conference_bg.jpg) center no-repeat;
    background-size: cover;
  }
  .conference__date {
    margin-bottom: 160px;
  }
}
@media screen and (max-width: 575px) {
  .hero {
    padding-bottom: 48px;
    background: #ccc url(../img/hero/200nkoBG-mobile.jpg) center no-repeat;
    background-size: cover;
  }
  .hero__title {
    margin: 0 auto;
    margin-bottom: 129px;
  }
}/*# sourceMappingURL=main.css.map */