body {
  background-color: rgba(0, 11, 63, 0.1);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

picture {
  border-radius: 10px;
}
picture img {
  width: 100%;
}

img {
  width: 100%;
  border-radius: 10px;
}

.invisible__object {
  outline: none;
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

section {
  padding: clamp(3.25rem, 2.725rem + 2.63vw, 5.875rem) 0;
}

.font__color {
  color: #F34B00;
}

.font__dark {
  color: #303749;
}

.font__light {
  color: rgba(255, 255, 255, 0.75);
}

.header {
  color: #666666;
}

.hero {
  padding: 90px 0;
  background: #ccc url(../img/hero/200nkoBG-min.jpg) center no-repeat;
  background-size: cover;
}
.hero__title {
  margin: clamp(7.875rem, 6.575rem + 6.5vw, 14.375rem) auto;
  max-width: 520px;
  font-size: clamp(1.75rem, 1.5rem + 1.25vw, 3rem);
  color: #FFFFFF;
}
.hero__more-btn {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 40px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.15);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.hero__more-btn picture {
  margin-right: 11px;
}

.appeal picture img {
  max-width: 519px;
}
.appeal__body {
  padding: clamp(1.5rem, 0.65rem + 4.25vw, 5.75rem) 0;
}
.appeal__title {
  margin-bottom: 34px;
  font-size: clamp(1.5rem, 1.225rem + 1.38vw, 2.875rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 3.22px;
}
.appeal__text {
  margin-bottom: 20px;
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1.68px;
}
.appeal__autor {
  font-size: 18px;
}

.offer {
  border-top: 1px solid rgba(242, 169, 0, 0.75);
  border-bottom: 1px solid rgba(242, 169, 0, 0.75);
}
.offer__title {
  margin-bottom: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
  font-size: clamp(1.5rem, 1.225rem + 1.38vw, 2.875rem);
}
.offer__text {
  margin-bottom: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
  font-size: clamp(1rem, 0.85rem + 0.75vw, 1.75rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.96px;
}
.offer__contacts a {
  color: #F34B00;
  font-family: Oswald;
  font-size: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 2.24px;
  text-decoration: none;
}
.offer__contacts-phone {
  margin-right: 12px;
}

.steps__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.steps__card {
  margin-bottom: clamp(1.5rem, 0.95rem + 2.75vw, 4.25rem);
  min-height: 678px;
  padding: 40px;
  border-radius: 10px;
  background-color: #EEEFF3;
}
.steps__card-title {
  min-height: 100px;
  padding: 50px;
  text-align: center;
  font-size: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 3.36px;
  border: 2px solid #FFFFFF;
}
.steps__img {
  margin-bottom: clamp(1.5rem, 1.375rem + 0.63vw, 2.125rem);
}
.steps__title {
  margin-bottom: 20px;
  font-size: clamp(1.125rem, 1rem + 0.63vw, 1.75rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.96px;
}
.steps__description {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1.4px;
}

.conference {
  background: #ccc url(../img/conference/conference_bg-min.jpg) center no-repeat;
  background-size: cover;
}
.conference__title {
  margin-bottom: clamp(3rem, 2.75rem + 1.25vw, 4.25rem);
  text-align: center;
  font-family: Oswald;
  font-size: clamp(1.375rem, 1.05rem + 1.63vw, 3rem);
  font-style: normal;
  font-weight: 500;
  line-height: 141.5%;
  letter-spacing: 3.36px;
}
.conference__date {
  display: block;
  margin: 0 auto;
  margin-bottom: 68px;
  max-width: 320px;
}

.footer {
  color: #F34B00;
  font-size: 16px;
  color: tomato;
}

@media (hover: hover) {
  .hero__more-btn:hover {
    background-color: rgba(0, 11, 63, 0.1);
  }
}
@media screen and (max-width: 991px) {
  .hero__more-btn {
    background-color: rgba(0, 11, 63, 0.1);
  }
  .appeal {
    text-align: center;
  }
  .appeal__autor {
    font-size: 14px;
  }
  .steps__title {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 767px) {
  section {
    padding: 48px 0;
  }
  .conference {
    background: #ccc url(../img/conference/conference_bg.jpg) center no-repeat;
    background-size: cover;
  }
  .conference__date {
    margin-bottom: 160px;
  }
}
@media screen and (max-width: 575px) {
  .hero {
    padding-bottom: 48px;
    background: #ccc url(../img/hero/200nkoBG-mobile.jpg) center no-repeat;
    background-size: cover;
  }
  .hero__title {
    margin: 0 auto;
    margin-bottom: 129px;
  }
}/*# sourceMappingURL=main.css.map */