@media screen and (min-width: 992px)
    .howDev
        &__steps
            height: 600px
        #howDev__path
            position: absolute
            height: 100%
            width: 90%
            top: -15%
            left: 0
        #howDev__item1
            position: absolute
            top: 0
            left: -10%
        #howDev__item2
            position: absolute
            bottom: 0
            left: -10%
        #howDev__item3
            position: absolute
            top: 15%
            right: -40%

@media screen and (max-width: 1199px)
    .howDev
        #howDev__item1
            top: 10%
        #howDev__item3
            right: -75%
            top: 20%
@media screen and (max-width: 991px)
    .hero
        &__more
            &-btn 
                background-color: $bg__color
    .appeal
        text-align: center
        &__autor 
            font-size: 14px
    .steps
        &__card
            min-height: auto
        &__title
            margin-bottom: 24px
        #steps__path
            display: none
    .howDev
        &__title 
            text-align: center
        #howDev__path
            display: none
        #howDev__item1
            top: auto
            left: auto
            right: auto
        #howDev__item2
            top: auto
            left: auto
            right: auto
        #howDev__item3
            top: auto
            left: auto
            right: auto
    .teams
        &__card 
            text-align: center
            img 
                filter: grayscale(0) 

@media screen and (max-width: 767px)
    section
        padding: 48px 0
    .conference
        background: #ccc url(../img/conference/conference_bg.jpg) center no-repeat
        background-size: cover
        &__date
            margin-bottom: 160px

@media screen and (max-width: 575px)
    .hero
        padding-bottom: 48px
        background: #ccc url(../img/hero/200nkoBG-mobile.jpg) center no-repeat
        background-size: cover
        &__title
            // width: 319px
            margin: 0 auto
            margin-bottom: 129px