.steps
    .container
        position: relative
    &__body 
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        // display: grid
        // grid-template-columns: repeat(auto-fill, clamp(20rem, 16.475rem + 17.63vw, 37.625rem))
        // grid-gap: 68px
    &__card
        // min-width: 320px
        // width: clamp(20rem, 16.475rem + 17.63vw, 37.625rem)
        position: relative
        margin-bottom: clamp(1.5rem, 0.95rem + 2.75vw, 4.25rem)
        min-height: 678px
        padding: 40px
        border-radius: 10px
        background-color: $cardBG__color
        z-index: 1
        &-title
            min-height: 100px
            // height: 100px
            // max-height: 200px !important
            padding: 50px
            text-align: center
            font-size: clamp(1.5rem, 1.2rem + 1.5vw, 3rem)
            font-style: normal
            font-weight: 500
            line-height: 120%
            letter-spacing: 3.36px
            border: 2px solid $white__color
    &__img 
        margin-bottom: clamp(1.5rem, 1.375rem + 0.63vw, 2.125rem)
    &__title
        margin-bottom: 20px
        font-size: clamp(1.125rem, 1rem + 0.63vw, 1.75rem)
        font-style: normal
        font-weight: 500
        line-height: 120%
        letter-spacing: 1.96px
    &__description
        // margin-bottom: clamp(3rem, 1.813rem + 5.94vw, 8.938rem)
        font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem)
        font-style: normal
        font-weight: 400
        line-height: 120%
        letter-spacing: 1.4px
#steps__path
    position: absolute
    top: 10%
    left: 50%
    transform: translateX(-50%)
    max-height: 80%
    z-index: 0

